<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Welcome to HC demo</h3>
    </div>
    <div class="panel-body">
        <h4>Below are some of the list of high level concepts used in this demo app.</h4>
        <br>
        <h4 style="color:maroon; font-weight: bold;"><u>Technologies</u></h4>
        <br>
        <dl class="dl-horizontal" style="width: fit-content;">
            <dt>Front End</dt>
            <dd>Angular 10</dd>
            
            <dt>Web API</dt>
            <dd>.NET Core 3 & Entity Framework - Code first approach</dd>

            <dt>Backend</dt>
            <dd>SQL Lite - self contained database</dd>

            <dt>Unit testing</dt>
            <dd>Xunit</dd>

            <dt>Other components</dt>
            <dd>Bootstrap, Toastr </dd>
        </dl>
        <br>
        <h4 style="color:maroon; font-weight: bold;"><u>Concepts</u></h4>
        <br>
        <dl class="dl-horizontal" style="width: fit-content;">
            <dt>UI Styling</dt>
            <dd>Bootstrap <b>v3</b></dd>

            <dt>Angular Forms</dt>
            <dd><b>Template driven form</b> is used for Employee Info form (Adding new employee & editing exisitng employee)</dd>
            
            <dt>Page Navigation</dt>
            <dd>Angular Routes and <b>RouterModules</b> are used</dd>

            <dt>Server Communication</dt>
            <dd>Used <b>HttpClientModules</b> to communicate to WebAPI for CRUD operations</dd>

            <dt>Search & Sort</dt>
            <dd><b>@Input</b> is used to pass params from Employee-search component to employee-list component.</dd>
            <dd><b>Pipe</b> has been used to filter the employee list by search input. </dd>

            <dt>Others</dt>
            <dd>String interpolation, two-way bindings, form validations, observables (mainly in service class), Enabling CORS</dd>
        </dl>
        <br>
        <h4 style="color:maroon; font-weight: bold;"><u>Pending Items</u></h4>
        <br>
        <dl class="dl-horizontal" style="width: fit-content;">
            <dt>Login Form</dt>
            <dd>Api: Implement auth service using Java Web Token with local store</dd>
            <dd>UI: Create login page, store token, create inceptor to pass token for outgoing request (employee) </dd>
            <dt>Mobile Friendly</dt>
            <dd>Update the UI styles to fit mobile screens.</dd>
        </dl>   
    </div>
</div>