
HealthCatalystAPI/.vs/HealthCatalyst/v16/.suo
HealthCatalystAPI/HealthCatalystService/bin/Debug/netcoreapp3.1/Database/HealthCatalyst.db
HealthCatalystAPI/HealthCatalystService/bin/Debug/netcoreapp3.1/HealthCatalystService.dll
HealthCatalystAPI/HealthCatalystService/bin/Debug/netcoreapp3.1/HealthCatalystService.pdb
