<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">People Search</h3>
    </div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="searchName">Search By Name</label> &nbsp;&nbsp;&nbsp;
                <input type="text" class="form-control" id="searchName" name="peopleName"  [(ngModel)]="peopleToSearch">
            </div>
        </form>
    </div>
</div>
<br/>

<div class="panel panel-info">
    <div class="panel-heading">
        <form class="form-inline text-right">
            <div class="form-group">
                <label for="searchName">Sort By</label> &nbsp;&nbsp;&nbsp;
                <select class="form-control" id="searchOption" (change)="selectChangeHandler($event)">
                    <option></option>
                    <option>Name</option>
                    <option>Age</option>
                    <option>State</option>
                    <option>City</option>
                </select>
            </div>
        </form>
    </div>
    <div class="panel-body">
        <app-people-list [peopleToSearch]="peopleToSearch" [sortBy]="sortBy"></app-people-list>
    </div>
</div>
